.btn {
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	margin-bottom: 0.3rem;
	font-weight: bold;
	@include easeOut;

	&:hover {
		background: $primary;
		color: set-text-color($primary);
	}
}

.btn-dark {
	@extend .btn;
	background: darken($foot-grey, 15);
	color: set-text-color(darken($foot-grey, 15));
}

.btn-light {
	@extend .btn;
	background: lighten($foot-grey, 50);
	color: set-text-color(lighten($foot-grey, 50));
}
