code {
	.codebar {
		width: 100%;
		height: 2rem;
		background-color: lighten($foot-grey, 40);
		text-align: center;
		font-size: 1.25rem;
		padding: 0;
		margin: 0;
		white-space: nowrap;
	}
	.code_c {
		background: #555555;
		display: inline-block;
		height: 100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "C";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_csharp {
		background: #178600;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "C#";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_cpp {
		background: #f34b7d;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "C++";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_coffee {
		background: #244776;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "CoffeeScript";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_css {
		background: #563d7c;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "CSS";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_dart {
		background: #00B4AB;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "Dart";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_go {
		background: #375eab;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "Go";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_html {
		background: #e34c26;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "HTML";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_java {
		background: #b07219;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "Java";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_js {
		background: #f1e05a;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "JavaScript";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_lua {
		background: #000080;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "Lua";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_php {
		background: #4F5D95;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "PHP";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_powershell {
		background: #012456;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "Powershell";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_python {
		background: #3572A5;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "Python";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
	.code_typescript {
		background: #2b7489;
		display: inline-block;
		height:100%;
		&:after {
			@media screen and (min-width: 769px) {
				content: "TypeScript";
				color: set-text-color($foot-grey);
				position: absolute;
				top: 240px;
			}
		}
	}
}
