$off-white: 	#F6F6F6;
$jetblack:		#131516;
$woolwhite: 	#C0C0C0;
$foot-grey: 	#373D3F; // Raven Grey:	#373D3F
$danger:		#dc3545;

$primary:		#3DFF60;// Primary color */
$primary-lightest: #9BFFAC;
$primary-lighter: #68FF83;
$primary-darker: #0FFF39;
$primary-darkest: #00FC2C;

$secondary: #41E8FF;	// Secondary color */
$secondary-lightest: #9CF2FE;
$secondary-lighter: #6BEDFF;
$secondary-darker: #13E2FF;
$secondary-darkest: #02DCFB;

$tertiary: #FF9A3D;	// Tertiary color */
$tertiary-lightest: #FFCB9B;
$tertiary-lighter: #FFB168;
$tertiary-darker: #FF820F;
$tertiary-darkest: #FF7A00;

$complement: #FF4B3D;	// Complement color */
$complement-lightest: #FFA29B;
$complement-lighter: #FF7368;
$complement-darker: #FF200F;
$complement-darkest: #FF1300;

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$show-home-image: true;
$home-image: url(../images/background.jpg);
$portrait-image: url(../images/portrait.jpg);
$portrait_small-image: url(../images/portrait_small.jpg);
$background-opacity: 0.85;

@mixin easeOut {
	transition: all 0.40s ease-out;
}

@mixin background {
	@if $show-home-image {
		&#bg-img {
			background: $home-image;
			background-attachment: fixed;
			background-size: cover;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($foot-grey, $background-opacity);
				z-index: -1;
			}
		}
	}
}

//Contrast color
@function set-text-color($color) {
	@if (lightness($color) > 40) {
		@return $foot-grey;
	} @else {
		@return $off-white;
	}
}

// Media Queries Mixins
@mixin mediaSm {
	@media screen and (max-width: 500px) {
		@content;
	}
}

@mixin mediaMd {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin mediaLg {
	@media screen and (min-width: 769px) and (max-width: 1170px) {
		@content;
	}
}

@mixin mediaXl {
	@media screen and (min-width: 1171px) {
		@content;
	}
}
