#main-footer {
	width: 100%;
	height: 95px;
	padding: 1rem;
	background: darken($foot-grey, 10);
	color: set-text-color($foot-grey);
	.footer-container {
		display: flex;
		flex-flow:row wrap;
		align-items: center;
		justify-content: center;
		text-align: center;
		align-self: center;
	}
}
