// Widescreens
@include mediaXl {
	#main-footer {
		width: 50%;
		margin: auto;

		.footer-item {
			width: 25%;
			margin-bottom: 1.25rem;
		}
	}

	.projects {
		grid-template-columns: repeat(4, 1fr);
	}
}

// Desktops & Laptops
@include mediaLg {
	#main-footer {
		width: 50%;
		margin: auto;

		.footer-item {
			width: 25%;
			margin-bottom: 1.25rem;
		}
	}
	.projects {
		grid-template-columns: repeat(3, 1fr);
	}
}

// Tablets & Small Laptops
@include mediaMd {
	main {
		align-items: center;
		text-align: center;

		.lg-heading {
			line-height: 1;
			margin-bottom: 1rem;
			font-size: 5rem;

			.lg-hr {
				margin-top: 5px;
				width:100%;
			}
		}
	}

	ul.menu-nav,div.menu-branding {
		float: none;
		width: 100%;
		min-height: 0;
		&.show {
			transform: translate3d(0,0,0);
		}
	}

	.menu-nav {
		height: 75vh;
		transform: translate3d(-100%,0,0);
		font-size: 1.5rem;
		background: linear-gradient(rgba(darken($foot-grey, 5),.95), rgba(darken($foot-grey, 5),.95));
	}

	.menu-branding {
		height: 25vh;
		transform: translate3d(100%,0,0);

		.portrait {
			background: $portrait_small-image;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100px;
			height: 100px;
		}
	}

	#main-footer {
		width: 100%;
		margin: auto;
		height: 218px!important;

		.footer-item {
			width: 50%;
			margin-bottom: 1.25rem;
		}
	}

	.about-info {
		grid-template-areas:
			'bioimage'
			'bio'
			'job1'
			'job2'
			'job3';
		grid-template-columns: 1fr;
	}
	.projects {
		grid-template-columns: repeat(2, 1fr);
	}
}

// Smartphones
@include mediaSm {
	main h1 {
		margin-top: 10vh;
		font-size: 4rem;
		.lg-hr {
			margin-top: 5px;
			height: 4px;
			width:100%;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			-ms-border-radius: 2px;
			-o-border-radius: 2px;
			border-radius: 2px;
		}
	}
	main h2 {
		margin-top: 10vh;
		font-size: 1.05rem;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	main#home .icons {
		font-size: 0.75rem;
	}
	.projects {
		grid-template-columns: 1fr;
	}
}
