.menu-burger {
	position: absolute;
	z-index: 3;
	right: 35px;
	top: 35px;
	cursor: pointer;
	@include easeOut();

	.burger-line {
		width: 28px;
		height: 3px;
		margin: 0 0 5px 0;
		background: set-text-color($foot-grey);
		@include easeOut();
	}

	&.close {
		transform: rotate(180deg);

		.burger-line {
			//Line 1 - Rotate
			&:nth-child(1) {
				transform: rotate(45deg) translate(5px, 5px);
			}

			//Line 2 - Hide
			&:nth-child(2) {
				opacity: 0;
			}

			//Line 3 - Rotate
			&:nth-child(3) {
				transform: rotate(-45deg) translate(6px, -6px);
				width: 28px;
			}
		}
	}
}

.menu {
	position: fixed;
	top: 0;
	width: 100%;
	visibility: hidden;
	&.show {
		visibility: visible;
	}

	&-branding, &-nav {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
		float: left;
		width: 50%;
		height: 100vh;
		overflow: hidden;
	}

	&-nav {
		margin: 0;
		padding: 0;
		background: linear-gradient(rgba(darken($foot-grey, 5),.85), rgba(darken($foot-grey, 5),.85));
		list-style: none;
		transform: translate3d(100%, 0%, 0);
		@include easeOut;
		&.show {
			transform: translate3d(0, 0, 0);
		}
	}

	&-branding {
		background: linear-gradient(rgba($foot-grey, .85), rgba($foot-grey, .85));
		transform: translate3d(-100%, 0%, 0);
		@include easeOut;
		&.show {
			transform: translate3d(0, 0, 0);
		}
		.portrait {
			width: 250px;
			height: 250px;
			background: $portrait-image;
			border-radius: 50%;
			border: solid 3px $primary;
			opacity: 1;
    		filter: alpha(opacity=100);
			transform: translate3d(-600px, 0, 0);
			@include easeOut;
			&.show {
				transition-delay: 0.075s;
				transform: translate3d(0, 0, 0);
			}
		}
	}

	.nav-item {
		transform: translate3d(600px, 0, 0);
		@include easeOut;
		&.show {
			transform: translate3d(0, 0, 0);
		}
		&.current > a {
			color: $primary;
		}
	}

	.nav-link {
		display: inline-block;
		position: relative;
		font-size: 2rem;
		text-transform: uppercase;
		padding: 1rem 0;
		font-weight: 700;
		font-family: $font-secondary;
		color: set-text-color($foot-grey);
		text-decoration: none;
		@include easeOut;
		&:hover {
			color: $primary;
		}
	}
}

// Delay nav-items
@for $x from 1 through 5 {
	.nav-item:nth-child(#{$x}) {
		transition-delay: $x * 0.075s;
	}
}
