@import 'config';
@import 'navbar';
@import 'buttons';
@import 'noscript';
@import 'code';

* {
	box-sizing: border-box;
}

body {
	@include background;
	background: $foot-grey;
	color: set-text-color($foot-grey);
	height: 100%;
	margin: 0;
	font-family: $font-secondary;
	line-height: 1.5;
	&#home-body {
		overflow: hidden;
	}
}

h1, h2, h3 {
	margin: 0;
	font-family: $font-primary;
	font-weight: 400;

	&.lg-heading {
		font-size: 6rem;

		.lg-hr {
			margin-top: 0px;
			height: 8px;
			width:25vw;
			border: none;
			background-color: set-text-color($foot-grey);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
		}
	}

	&.sm-heading {
		margin-bottom: 2rem;
		// padding: 0.2rem 1rem;
	}
}

.text-secondary {
	color: $primary;
	a {
		color: $primary;
	}
}

a {
	color: set-text-color($foot-grey);
	text-decoration: none;
}

header {
	position: fixed;
	z-index: 2;
	width: 100%;
}

main {
	padding: 4rem;
	min-height: calc(100vh - 95px);

	.icons {
		margin-top: 1rem;
		a {
			padding: 0.4rem;
			&:hover {
				color:$primary;
				@include easeOut();
			}
		}
	}

	&#home {
		h1 {
			margin-top: 25vh;
		}
	}
}

.about-info {
	display: grid;
	grid-gap: 30px;
	grid-template-areas:
		'bioimage bio bio'
		'job1 job2 job3';
	grid-template-columns: repeat(3, 1fr);
	.bio-image {
		grid-area: bioimage;
		margin:auto;
		border-radius: 50%;
		border: solid 3px $primary;
	}
	.bio {
		grid-area: bio;
		font-size: 1.5rem;
	}
	.job-1 {
		grid-area: job1;
	}
	.job-2 {
		grid-area: job2;
	}
	.job-3 {
		grid-area: job3;
	}

	.job {
		background: lighten($foot-grey, 5);
		padding: 0.5rem;
		border-bottom: solid 5px $primary;
	}

	.job-watcher {
		color: set-text-color(lighten($foot-grey, 5));
		float: right;
		margin-top: -25px;
	}
}

#portfolio {
	.job-cat {
		margin-top: 2rem;
	}
}
.projects {
	display: grid;
	grid-gap: 1.25rem;
	h2 {
		text-align: center;
	}
	img {
		width: 100%;
		border: solid 3px lighten($foot-grey, 10);

		&:hover {
			opacity: 0.75;
			border-color: $primary;
			@include easeOut;
		}
	}
}

.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;

	div {
		font-size: 2rem;
		border:  3px solid $off-white;
		padding: 1.5rem 2.5rem;
		margin-bottom: 3rem;
		@include easeOut;

		&:hover {
			padding: 1.4rem 2.4rem;
			background: $primary;
			border-color: $primary;
			a {
				color: set-text-color($primary);
			}
			span {
				color: set-text-color($primary);
			}
		}
	}
}

.team-spacer{
	margin-left: 50px;
}

@import 'mobile';
@import 'footer';
